#note-section{
    display: flex;
    position: relative;
    flex-direction: column;
    position: relative;
    padding-bottom: 173px;
    #img-3 {
        top: -267px;
        left: -191px;
    }
    #img-4 {
        width: 247px;
        bottom: 55px;
        right: -124px;
    }
    .note-img {
        position: absolute;
    }
    #note-text-container {
        display: flex;
        position: relative;
        flex-direction: row;
        max-width: 1680px;
        margin: 0 auto;
        #img-2{
            width: 246px;
            border-radius: 100%;
            display: flex;
            position: absolute;
            z-index: 0;
            right: -120px;
            top: 60px;
        }
        #box{
            padding-left: 135px;
            padding-right: 93px;
            padding-bottom: 33px;
            display: flex;
            flex-direction: column;
            position: relative;
            width: 621px;
            height: 489px;
            margin: 0 auto;
            justify-content: center;
            background-color: #f5f5f5;
            border-radius: 10px;
            #img-1{
                width: 180px;
                border-radius: 100%;
                display: flex;
                position: absolute;
                margin-right: 50px;
                z-index: 9;
                left: -90px;
              
            }
           
            #note-content {
                font-family: Montserrat-Regular;
                font-size: 14px;
            }
            #note-title {
                margin-bottom: 52px;
                font-family: utm-bebas;
                font-size:26px
            }
            span {
                font-family:Montserrat-bold
            }
        }
          
    }
}

@media screen and(max-width: 1120px)
{
    #note-section{
        display: flex;
        position: relative;
        flex-direction: column;
        position: relative;
        padding-bottom: 173px;
        #img-3 {
            top: -267px;
            left: -191px;
        }
        #img-4 {
            width: 247px;
            bottom: 55px;
            right: -124px;
        }
        .note-img {
            position: absolute;
        }
        #note-text-container {
            display: flex;
            position: relative;
            flex-direction: row;
            max-width: 1680px;
            margin: 0 auto;
            #img-2{
                width: 246px;
                border-radius: 100%;
                display: flex;
                position: absolute;
                z-index: 0;
                right: -120px;
                top: 60px;
            }
            #box{
                padding-left: 98px;
                padding-right: 58px;
                padding-bottom: 33px;
                display: flex;
                flex-direction: column;
                position: relative;
                width: 621px;
                height: 489px;
                margin: 0 auto;
                justify-content: center;
                background-color: #f5f5f5;
                border-radius: 10px;
                #img-1{
                    width: 180px;
                    border-radius: 100%;
                    display: flex;
                    position: absolute;
                    margin-right: 50px;
                    z-index: 9;
                    left: -90px;
                  
                }
               
                #note-content {
                    font-family: Montserrat-Regular;
                    font-size: 14px;
                }
                #note-title {
                    margin-bottom: 52px;
                    font-family: utm-bebas;
                    font-size:26px
                }
                span {
                    font-family:Montserrat-bold
                }
            }
              
        }
    }
}

@media screen and(max-width: 1050px)
{
    #note-section{
        display: flex;
        position: relative;
        flex-direction: column;
        position: relative;
        padding-bottom: 173px;
        #img-3 {
            top: -267px;
            left: -191px;
            width: 39%;
        }
        #img-4 {
            width: 190px;
            bottom: 55px;
            right: -124px;
        }
        .note-img {
            position: absolute;
        }
        #note-text-container {
            display: flex;
            position: relative;
            flex-direction: row;
            max-width: 1680px;
            margin: 0 auto;
            #img-2{
                width: 246px;
                border-radius: 100%;
                display: flex;
                position: absolute;
                z-index: 0;
                right: -120px;
                top: 60px;
            }
            #box{
                padding-left: 96px;
                padding-right: 54px;
                padding-bottom: 33px;
                display: flex;
                flex-direction: column;
                position: relative;
                width: 539px;
                height: 489px;
                margin: 0 auto;
                justify-content: center;
                background-color: #f5f5f5;
                border-radius: 10px;
                #img-1{
                    width: 180px;
                    border-radius: 100%;
                    display: flex;
                    position: absolute;
                    margin-right: 50px;
                    z-index: 9;
                    left: -90px;
                  
                }
               
                #note-content {
                    font-family: Montserrat-Regular;
                    font-size: 14px;
                }
                #note-title {
                    margin-bottom: 52px;
                    font-family: utm-bebas;
                    font-size:26px
                }
                span {
                    font-family:Montserrat-bold
                }
            }
              
        }
    }
}

@media screen and(max-width: 973px)
{
    #note-section{
        display: flex;
        position: relative;
        flex-direction: column;
        position: relative;
        padding-bottom: 173px;
        #img-3 {
            top: -267px;
            left: -191px;
            width: 39%;
        }
        #img-4 {
            width: 190px;
            bottom: 55px;
            right: -124px;
        }
        .note-img {
            position: absolute;
        }
        #note-text-container {
            display: flex;
            position: relative;
            flex-direction: row;
            max-width: 1680px;
            margin: 0 auto;
            #img-2{
                width: 191px;
                border-radius: 100%;
                display: flex;
                position: absolute;
                z-index: 0;
                right: -85px;
                top: 60px;
            }
            #box{
                padding-left: 84px;
                padding-right: 46px;
                padding-bottom: 33px;
                display: flex;
                flex-direction: column;
                position: relative;
                width: 539px;
                height: 489px;
                margin: 0 auto;
                justify-content: center;
                background-color: #f5f5f5;
                border-radius: 10px;
                #img-1{
                    width: 152px;
                    border-radius: 100%;
                    display: flex;
                    position: absolute;
                    margin-right: 50px;
                    z-index: 9;
                    left: -74px;
                  
                }
               
                #note-content {
                    font-family: Montserrat-Regular;
                    font-size: 14px;
                }
                #note-title {
                    margin-bottom: 52px;
                    font-family: utm-bebas;
                    font-size:26px
                }
                span {
                    font-family:Montserrat-bold
                }
            }
              
        }
    }
}

@media screen and(max-width: 875px)
{
    #note-section{
        display: flex;
        position: relative;
        flex-direction: column;
        position: relative;
        padding-bottom: 173px;
        #img-3 {
            top: -203px;
            left: -145px;
            width: 39%;
        }
        #img-4 {
            width: 190px;
            bottom: 55px;
            right: -124px;
        }
        .note-img {
            position: absolute;
        }
        #note-text-container {
            display: flex;
            position: relative;
            flex-direction: row;
            max-width: 1680px;
            margin: 0 auto;
            #img-2{
                width: 170px;
                border-radius: 100%;
                display: flex;
                position: absolute;
                z-index: 0;
                right: -74px;
                top: 60px;
            }
            #box{
                padding-left: 75px;
                padding-right: 47px;
                padding-bottom: 33px;
                display: flex;
                flex-direction: column;
                position: relative;
                width: 440px;
                height: 450px;
                margin: 0 auto;
                justify-content: center;
                background-color: #f5f5f5;
                border-radius: 10px;
                #img-1{
                    width: 116px;
                    border-radius: 100%;
                    display: flex;
                    position: absolute;
                    margin-right: 50px;
                    z-index: 9;
                    left: -59px;
                  
                }
               
                #note-content {
                    font-family: Montserrat-Regular;
                    font-size: 14px;
                }
                #note-title {
                    margin-bottom: 52px;
                    font-family: utm-bebas;
                    font-size:26px
                }
                span {
                    font-family:Montserrat-bold
                }
            }
              
        }
    }
}

@media screen and(max-width: 763px)
{
    #note-section{
        display: flex;
        position: relative;
        flex-direction: column;
        position: relative;
        padding-bottom: 173px;
        #img-3 {
            top: -203px;
            left: -145px;
            width: 44%;
        }
        #img-4 {
            width: 190px;
            bottom: 55px;
            right: -124px;
        }
        .note-img {
            position: absolute;
        }
        #note-text-container {
            display: flex;
            position: relative;
            flex-direction: row;
            max-width: 1680px;
            margin: 0 auto;
            #img-2{
                width: 146px;
                border-radius: 100%;
                display: flex;
                position: absolute;
                z-index: 0;
                right: -58px;
                top: 60px;
            }
            #box{
                padding-left: 63px;
                padding-right: 33px;
                padding-bottom: 33px;
                display: flex;
                flex-direction: column;
                position: relative;
                width: 403px;
                height: 450px;
                margin: 0 auto;
                justify-content: center;
                background-color: #f5f5f5;
                border-radius: 10px;
                #img-1{
                    width: 117px;
                    border-radius: 100%;
                    display: flex;
                    position: absolute;
                    margin-right: 50px;
                    z-index: 9;
                    left: -60px;
                  
                }
               
                #note-content {
                    font-family: Montserrat-Regular;
                    font-size: 12px;
                }
                #note-title {
                    margin-bottom: 24px;
                    font-family: utm-bebas;
                    font-size:25px
                }
                span {
                    font-family:Montserrat-bold
                }
            }
              
        }
    }
}

@media screen and(max-width: 655px)
{
    #note-section{
        display: flex;
        position: relative;
        flex-direction: column;
        position: relative;
        padding-bottom: 173px;
        #img-3 {
            top: -203px;
            left: -145px;
            width: 44%;
        }
        #img-4 {
            width: 160px;
            bottom: 55px;
            right: -124px;
        }
        .note-img {
            position: absolute;
        }
        #note-text-container {
            display: flex;
            position: relative;
            flex-direction: row;
            max-width: 1680px;
            margin: 0 auto;
            #img-2{
                width: 146px;
                border-radius: 100%;
                display: flex;
                position: absolute;
                z-index: 0;
                right: -58px;
                top: 60px;
            }
            #box{
                padding-left: 62px;
                padding-right: 38px;
                padding-bottom: 33px;
                display: flex;
                flex-direction: column;
                position: relative;
                width: 303px;
                height: 450px;
                margin: 0 auto;
                justify-content: center;
                background-color: #f5f5f5;
                border-radius: 10px;
                #img-1{
                    width: 117px;
                    border-radius: 100%;
                    display: flex;
                    position: absolute;
                    margin-right: 50px;
                    z-index: 9;
                    left: -60px;
                  
                }
               
                #note-content {
                    font-family: Montserrat-Regular;
                    font-size: 12px;
                }
                #note-title {
                    margin-bottom: 24px;
                    font-family: utm-bebas;
                    font-size:25px
                }
                span {
                    font-family:Montserrat-bold
                }
            }
              
        }
    }
}

@media screen and(max-width: 565px)
{
    #note-section{
        display: flex;
        position: relative;
        flex-direction: column;
        position: relative;
        padding-bottom: 173px;
        #img-3 {
            top: -203px;
            left: -145px;
            width: 44%;
        }
        #img-4 {
            width: 160px;
            bottom: 55px;
            right: -124px;
        }
        .note-img {
            position: absolute;
        }
        #note-text-container {
            display: flex;
            position: relative;
            flex-direction: row;
            max-width: 1680px;
            margin: 0 auto;
            #img-2{
                width: 146px;
                border-radius: 100%;
                display: flex;
                position: absolute;
                z-index: 0;
                right: -58px;
                top: 60px;
            }
            #box{
                padding-left: 46px;
                padding-right: 28px;
                padding-bottom: 33px;
                display: flex;
                flex-direction: column;
                position: relative;
                width: 250px;
                height: 430px;
                margin: 0 auto;
                justify-content: center;
                background-color: #f5f5f5;
                border-radius: 10px;
                #img-1{
                    width: 92px;
                    border-radius: 100%;
                    display: flex;
                    position: absolute;
                    margin-right: 50px;
                    z-index: 9;
                    left: -51px;
                  
                }
               
                #note-content {
                    font-family: Montserrat-Regular;
                    font-size: 11px;
                }
                #note-title {
                    margin-bottom: 24px;
                    font-family: utm-bebas;
                    font-size:24px
                }
                span {
                    font-family:Montserrat-bold
                }
            }
              
        }
    }
}

@media screen and(max-width: 460px)
{
    #note-section{
        display: flex;
        position: relative;
        flex-direction: column;
        position: relative;
        padding-bottom: 173px;
        #img-3 {
            top: -108px;
            left: -73px;
            width: 44%;
        }
        #img-4 {
            width: 160px;
            bottom: 55px;
            right: -109px;
        }
        .note-img {
            position: absolute;
        }
        #note-text-container {
            display: flex;
            position: relative;
            flex-direction: row;
            max-width: 1680px;
            margin: 0 auto;
            #img-2{
                width: 102px;
                border-radius: 100%;
                display: flex;
                position: absolute;
                z-index: 0;
                right: -38px;
                top: 60px;
            }
            #box{
                padding-left: 32px;
                padding-right: 18px;
                padding-bottom: 33px;
                display: flex;
                flex-direction: column;
                position: relative;
                width: 198px;
                height: 350px;
                margin: 0 auto;
                justify-content: center;
                background-color: #f5f5f5;
                border-radius: 10px;
                #img-1{
                    width: 66px;
                    border-radius: 100%;
                    display: flex;
                    position: absolute;
                    margin-right: 50px;
                    z-index: 9;
                    left: -38px;
                  
                }
               
                #note-content {
                    font-family: Montserrat-Regular;
                    font-size: 9px;
                }
                #note-title {
                    margin-bottom: 14px;
                    font-family: utm-bebas;
                    font-size:17px;
                }
                span {
                    font-family:Montserrat-bold
                }
            }
              
        }
    }
}

@media screen and(max-width: 370px)
{
    #note-section{
        display: flex;
        position: relative;
        flex-direction: column;
        position: relative;
        padding-bottom: 173px;
        #img-3 {
            top: -108px;
            left: -73px;
            width: 44%;
        }
        #img-4 {
            width: 160px;
            bottom: 55px;
            right: -109px;
        }
        .note-img {
            position: absolute;
        }
        #note-text-container {
            display: flex;
            position: relative;
            flex-direction: row;
            max-width: 1680px;
            margin: 0 auto;
            #img-2{
                width: 102px;
                border-radius: 100%;
                display: flex;
                position: absolute;
                z-index: 0;
                right: -38px;
                top: 60px;
            }
            #box{
                padding-left: 31px;
                padding-right: 19px;
                padding-bottom: 22px;
                display: flex;
                flex-direction: column;
                position: relative;
                width: 170px;
                height: 350px;
                margin: 0 auto;
                justify-content: center;
                background-color: #f5f5f5;
                border-radius: 10px;
                #img-1{
                    width: 66px;
                    border-radius: 100%;
                    display: flex;
                    position: absolute;
                    margin-right: 50px;
                    z-index: 9;
                    left: -38px;
                  
                }
               
                #note-content {
                    font-family: Montserrat-Regular;
                    font-size: 8px;
                }
                #note-title {
                    margin-bottom: 5px;
                    font-family: utm-bebas;
                    font-size:16px;
                }
                span {
                    font-family:Montserrat-bold
                }
            }
              
        }
    }
}
  


