#about-section {
    display: flex;
    position: relative;
    flex-direction: row;
    padding-bottom: 100px;
    #imgs{
        position: relative;
        width: 341px;
        height: 442px;
        margin-left: 104px;
        
        background-color: black;
        #img-1 { 
            width: 288px;
            z-index: 2;
            position: absolute;
            top: 51px;
            left: 40px;
        }

        p{
            background-color: gold;
            position: absolute;
            z-index: 3;
            width: 24px;
            height: 218px;
            top: 16px;
            left: -12px;
        }
        
        #img-circle
        {
            width: 127px;
            position: absolute;
            top: 23px;
            left: 70px;
        }
        
        #img-dot
        {
            width: 351px;
            position: absolute;
            left: 31px;
            top: 141px;
        }
    }
    
    #not-image{
        display: flex;
        flex-direction: column;
        width: 700px;
        height: 443px;
        margin-left: 96px;

        align-items: center;
        #img-2 { 
            width: 215px;
            position: absolute;
            left: 467px;
            top: -36px;
        
        }
        #graph{
            display: flex;
            position: relative;
            flex-direction: column;
            
            width: 700px;
            #img-3 {
                position: absolute;
                width: 364px;
                top: 80px;
                left: -30px;
            }
            
          
           
            p{
                padding-top: 182px;
               
               
            }
        }
        #img-4 {
            width: 301px;
            position: absolute;
            top: 371px;
            left: 911px;
        }
      
    }
}

