.customized-input-container {
    height: 40px;
    width: 343px;
    margin: auto;
    position: relative;
}


.customized-input {
    width: 100%;
    border-radius: 50px;
    border: 2px solid black;
    padding-left: 55px;
}



.customized-input :focus {
    outline: none;
}

