#clock-container {
    background-color: #ffffff;
    width: 549px;
    -moz-box-shadow:   0px 0px 20px 3px #e4e4e4;
    -webkit-box-shadow: 0px 0px 20px 3px #e4e4e4;
    box-shadow:         0px 0px 20px 3px #e4e4e4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 175px;
    position: absolute;
    bottom: 0px;

    #title {
       color: #FFCF00;
       font-family: AvenirNextLTPro-Demi;
       font-size: 25px;
       margin-bottom:20px;
       margin-top: 5px;
    }
    #time-container {
        display: flex;
        align-items: center;
        .time {
            display: flex;
            flex-direction: column;
            .time-val {
                font-family: AvenirNextLTPro-Demi;
                font-size: 43px;
            }
            .time-unit {
                font-family: AvenirNextLTPro-Medium;
                font-size: 11px;
                text-align: center;
                color: #9B9B9B;
            }
        }
        svg {
            width: 64px;
            height: 25px;
        }
    }
   
}