#sponsor-section{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 180px;
    .sponsor-img {
        
    }
    #title-img {
        width: 223px;
    }
    .sponsor-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-family:AvenirNextLTPro-bold;
            font-size: 20px;
            letter-spacing: 4px;
        }
    }
    #top {
        margin-top: 40px;
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        margin-bottom: 65px;
        #img-1 {
           width: 181px;
           margin-bottom: 65px;

        }
        #img-2 {
            width: 315px;
        }
    }
    #bot {
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        #left {
            display: flex;
            position: relative;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 65px;
            width: 805px;
            #img-3 {
               width: 378px;
            }
             #img-7 {
                width: 234px;
                margin-top: 32px;
            }
            #silver {
                margin-right: 72px;
            }
          
        }
        #right {
            display: flex;
            position: relative;
            align-items: flex-start;
            justify-content: space-evenly;
            width: 942px;
            #img-4 {
                width: 334px;
                margin-top: 32px;
            }
             #img-5 {
                width: 204px;
            }
             #img-6 {
                width: 338px;
            }
        }
    }
}

@media screen and(max-width: 1100px)
{
    #sponsor-section{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #img-1{
            width:27%;
        }
        #bot{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            padding-top: 20px;
            padding-bottom: 60px;
            margin-bottom: 66px;
            #left{
                display: flex;
                flex-direction: column;
                position: relative;
                padding-right: 0px;
                align-items: center;
                #ntt{
                 font-family: AvenirNextLTPro-Bold ;
                 font-size: 19px;
                 z-index: 3;
                }
                 #img-2{
                    width: 80%;
                }
            }
            #right
            {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 0px;
                #btcm{
                    font-family: AvenirNextLTPro-Bold ;
                    font-size: 19px;
                    z-index: 3;
                }
                #img-3
                {
                    width: 110%;
                }
                #bttt{
                    font-family: AvenirNextLTPro-Bold ;
                    font-size: 19px;
                    z-index: 3;
                }
                #img-4
                {
                    width: 40%;
                }
            }
        }
    }
}

@media screen and(max-width: 900px)
{
    #sponsor-section{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #img-1{
            width:27%;
        }
        #bot{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            padding-top: 20px;
            padding-bottom: 60px;
            margin-bottom: 66px;
            #left{
                display: flex;
                flex-direction: column;
                position: relative;
                padding-right: 0px;
                align-items: center;
                #ntt{
                 font-family: AvenirNextLTPro-Bold ;
                 font-size: 19px;
                 z-index: 3;
                }
                 #img-2{
                    width: 60%;
                }
            }
            #right
            {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 0px;
                #btcm{
                    font-family: AvenirNextLTPro-Bold ;
                    font-size: 19px;
                    z-index: 3;
                }
                #img-3
                {
                    width: 75%;
                }
                #bttt{
                    font-family: AvenirNextLTPro-Bold ;
                    font-size: 19px;
                    z-index: 3;
                }
                #img-4
                {
                    width: 82%;
                }
            }
        }
    }
}

@media screen and(max-width: 900px)
{
    #sponsor-section{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #img-1{
            width:27%;
        }
        #title-img {
            width: 144px;
        }
        #bot{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            padding-top: 20px;
            padding-bottom: 60px;
            margin-bottom: 66px;
            #left{
                display: flex;
                flex-direction: column;
                position: relative;
                padding-right: 0px;
                align-items: center;
                #ntt{
                 font-family: AvenirNextLTPro-Bold ;
                 font-size: 14px;
                 z-index: 3;
                }
                 #img-2{
                    width: 60%;
                }
                #img-7 {
                    width: 234px;
                    margin-top: 32px;
                }
                #silver {
                    margin-right: 0px;
                }
            }
            #right
            {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 0px;
                #btcm{
                    font-family: AvenirNextLTPro-Bold ;
                    font-size: 14px;
                    z-index: 3;
                }
                #img-3
                {
                    width: 75%;
                }
                #bttt{
                    font-family: AvenirNextLTPro-Bold ;
                    font-size: 14px;
                    z-index: 3;
                }
                #img-4
                {
                    width: 40%;
                }
            }
        }
    }
}

@media screen and(max-width: 443px)
{
    #sponsor-section { 
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
    .sponsor-container {
        p {
            font-size: 17px;
        }
    }
    #top {
        margin-bottom: 65px;
        width: 100%;
        #img-1 {
           width: 61%;
           margin-bottom: 65px;

        }
        #img-2 {
            width: 83%;
        }
    }
    #bot {
        .sponsor-img {
            margin-bottom: 65px
        }
        #left {
            flex-direction: column;
            width: 100%;
            #img-3 {
                width: 90%;
            }
            #img-7 {
                width: 234px;
                margin-top: 32px;
            }
            #silver {
                margin-right: 0px;
            }
          
        }
        #right {
            flex-direction: column;
            width: 100%;
            #img-4 {
                width: 80%;
            }
             #img-5 {
                width: 74%;
                margin-left: 0px
            }
             #img-6 {
                width: 88%;
            }
        }
    }}
}