#register-section {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
    #register-content {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        #img-1 {
            width: 516px;
        }
        #form-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1290px;
            margin-top: 80px;
           #img-2 {
               width: 169px;
           }
        }
    }
}