#ma-section {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   background-color: #f5f5f5;
   margin-top: 10px;
   padding-bottom: 132px;
   #ma-content {
       position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
       #rule-each-round-container {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 790px;
            justify-content: center;
            align-items: center;
            #svg-3 {
              position: absolute;
              top: 95px;
              left: 0px;
              width: 100%;
              height: 6px;
            }
            #img-2 {
                transition: all 1s;
                position: absolute;
                top: 3px;
            }
            #svg-4 {
                width: 174px;
                position: absolute;
                top: 58px;
                left: 0px;
            }
            #svg-5 {
                width: 230px;
                position: absolute;
                top: 58px;
                right: 0px;
            }
            #svg-2 {
                width: 3px;
                margin-top: 44px;
            }
            #svg-1 {
                width: 3px;
            }
            #rounds-container {
                background-image: url(../../../svg/ma-1.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 4px;
                display: flex;
                flex-direction: column;
                justify-content:flex-start;
                align-items: center;
                width: 100%;
                height: 1000px;
                margin-top: 5px;
                #round-2-container {
                    display: flex;
                    justify-content:space-between;
                    align-items: center;
                    width: 100%;
                    .round-2-child {
                        width: 39%;
                        display: flex;
                        flex-direction: column;
                        // justify-content: flex-start;
                    }
                }
                .round-container{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    
                }
                .date {
                    background-color: #f5f5f5;
                    font-family: AvenirNextLTPro-Bold;
                    color: #868686;
                    margin-bottom: 0px;
                }
                .yellow-full-round {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color:#FFCF00;
                    border-radius: 15px;
                    transition: all 0.5s;
                    height: 64px;
                    -moz-box-shadow:   0px 0px 10px 3px #e0e0e0;
                    -webkit-box-shadow: 0px 0px 10px 3px #e0e0e0;
                    box-shadow:         0px 0px 10px 3px #e0e0e0;
                    p {
                        font-family: AvenirNextLTPro-BoldItalic;
                        color: #ffffff;
                    }
                    .title {
                        font-size: 23px;
                        margin-bottom: -4px;
                        margin-top: -4px;
                        font-family: AvenirNextLTPro-Bold
                    }
                    .subtitle {
                        font-size: 13px;
                        margin-top: 0px;
                        margin-bottom: -5px;
                        span {
                            font-family: AvenirNextLTPro-MediumItalic;
                        }
                    }
                }
                .text-container {
                    font-family: AvenirNextLTPro-LightItalic;
                    font-size: 14px;
                    background-color: #f5f5f5;
                    span {
                        font-family: AvenirNextLTPro-BoldItalic;
                    }
                }
               
                .white-full-round {
                    width: 72%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: #ffffff;
                    border-radius: 9px;
                    transition: all 0.5s;
                    height: 40px;
                    -moz-box-shadow:   0px 0px 10px 3px #e0e0e0;
                    -webkit-box-shadow: 0px 0px 10px 3px #e0e0e0;
                    box-shadow:         0px 0px 10px 3px #e0e0e0;
                    
                    p {
                        font-family: AvenirNextLTPro-Bold;
                        margin-top:0px;
                        margin-bottom:0px
                    }
                    .title {
                        color: #FFCF00;
                        font-size: 19px;
                    }
                    .subtitle {
                        
                        color: #868686;
                        font-size: 19px;
                    }
                    
                }                
                .circle-img {
                    width:27px;
                    margin-top: 15px;
                    margin-bottom: 18px;
                }
                .yellow-full-round:hover {
                    width: 110%;
                    height: 80px;
                }
                .white-full-round:hover {
                    width: 80%;
                    height: 55px;
                }
                .datetime-container {
                    width: 145px;
                    display: flex;
                    justify-content: space-between;
                    background-color: #f5f5f5;
                    #svg-6 {
                        width:6px;
                    }
                    span {
                        font-family: AvenirNextLTPro-Bold;
                        color: #FFCF00;
                    }
                }
            }
       }
   }
   
   
   #img-1 {
       width: 363px;
       margin-top: 1%;
   }
   
   #subtitle {
      width: 64.4%;
      text-align: center;
      p {
       //    font-size: 1%;
         font-family: AvenirNextLTPro-Regular;
      }
      span {
       // font-size: 1%;
   
       font-family: AvenirNextLTPro-bold;
      }
   }
   
   #img-6 {
       position: absolute;
       width: 31.54%;
       left: -200px
   }
   
   #img-7 {
       position: absolute;
       width: 31.54%;
       top: -108px;
       z-index: 0;
       right: -300px;
   }
   
   #img-8 {
       position: absolute;
       width: 31.54%;
       bottom: -35px;
       z-index: 0;
       right: -300px;
       transform:rotate(-90deg);
       -ms-transform:rotate(-90deg); /* IE 9 */
       -webkit-transform:rotate(-90deg); 
   }
   
   #img-ma-2020 {
       margin-top: -10px;
       width: 378px;
       transition: all 0.3s;
   }
   .up {
    width: 95px;
    transform: translatey(-15px);
   }
   .down {
    width: 68px;
   }
}




