#ma-section {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   background-color: #f5f5f5;
   margin-top: 10px;
   padding-bottom: 132px;
   #ma-content {
       position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
       #rule-each-round-container {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 790px;
            justify-content: center;
            align-items: center;
            #svg-3 {
              position: absolute;
              top: 95px;
              left: 0px;
              width: 100%;
              height: 6px;
            }
            #img-2 {
                transition: all 1s;
                position: absolute;
                top: 3px;
            }
            #svg-4 {
                width: 174px;
                position: absolute;
                top: 58px;
                left: 0px;
            }
            #svg-5 {
                width: 230px;
                position: absolute;
                top: 58px;
                right: 0px;
            }
            #svg-2 {
                width: 3px;
                margin-top: 44px;
            }
            #svg-1 {
                width: 3px;
            }
            #rounds-container {
                background-image: url(../../../svg/ma-1.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 4px;
                display: flex;
                flex-direction: column;
                justify-content:flex-start;
                align-items: center;
                width: 100%;
                height: 1000px;
                padding-top: 17px;
                #round-2-container {
                    display: flex;
                    justify-content:space-between;
                    align-items: center;
                    width: 100%;
                    .round-2-child {
                        width: 39%;
                        display: flex;
                        flex-direction: column;
                        // justify-content: flex-start;
                    }
                }
                .round-container{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    .round-2-child {
                        #yellow-full-round-right {
                            padding-left: 13px;
                            align-items: flex-start;
                            height: 75px;
                            width: 100%;
                            padding-bottom: 5px;
                            justify-content: center;
                            .subtitle {
                                margin-top: 5px;
                                margin-bottom: -9px;
                                text-align: flex-start
                            }
                            .title {
                                text-align: flex-start;
                            }

                        } #yellow-full-round-right:hover {
                            height: 90px;
                        }
                        #yellow-full-round-left:hover {
                            height: 90px;
                        }
                        #yellow-full-round-left {
                            padding-right: 13px;
                            align-items: flex-end;
                            width: 100%;
                            height: 75px;
                            padding-bottom: 5px;
                            justify-content: center;
                            .subtitle {
                                margin-top: 5px;
                                margin-bottom: -9px;
                                text-align: flex-end;
                            }
                            .title {
                                text-align: right;
                            }
                        }
                        .yellow-full-round:hover {
                            width: 110%;
                            height: 90px;
                        }
                        #white-full-round-right {
                           
                          height: 67px;
                        }
                        #white-full-round-left {
                            height: 67px;
                        }
                    }
                }
                .date {
                    background-color: #f5f5f5;
                    font-family: AvenirNextLTPro-Bold;
                    color: #868686;
                    margin-bottom: 0px;
                }
                .yellow-full-round {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color:#FFCF00;
                    border-radius: 15px;
                    transition: all 0.5s;
                    height: 64px;
                    -moz-box-shadow:   0px 0px 10px 3px #e0e0e0;
                    -webkit-box-shadow: 0px 0px 10px 3px #e0e0e0;
                    box-shadow:         0px 0px 10px 3px #e0e0e0;
                    p {
                        font-family: AvenirNextLTPro-BoldItalic;
                        color: #ffffff;
                    }
                    .title {
                        font-size: 20px;
                        margin-bottom: -4px;
                        margin-top: -4px;
                        font-family: AvenirNextLTPro-Bold
                    }
                    .subtitle {
                        font-size: 13px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        text-align: center;
                        span {
                            font-family: AvenirNextLTPro-MediumItalic;
                        }
                    }
                }
                .text-container {
                    font-family: AvenirNextLTPro-LightItalic;
                    font-size: 14px;
                    background-color: #f5f5f5;
                    span {
                        font-family: AvenirNextLTPro-BoldItalic;
                    }
                }
               
                .white-full-round {
                    width: 72%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: #ffffff;
                    border-radius: 15px;
                    transition: all 0.5s;
                    height: 40px;
                    -moz-box-shadow:   0px 0px 10px 3px #e0e0e0;
                    -webkit-box-shadow: 0px 0px 10px 3px #e0e0e0;
                    box-shadow:         0px 0px 10px 3px #e0e0e0;
                    
                    p {
                        font-family: AvenirNextLTPro-Bold;
                        margin-top:0px;
                        margin-bottom:0px
                    }
                    .title {
                        color: #FFCF00;
                        font-size: 19px;
                    }
                    .subtitle {
                        color: #868686;
                        font-size: 19px;
                    }
                    
                }                
                .circle-img {
                    width:27px;
                    margin-top: 15px;
                    margin-bottom: 18px;
                }
                .yellow-full-round:hover {
                    width: 110%;
                    height: 80px;
                }
                .white-full-round:hover {
                    width: 80%;
                    height: 55px;
                }
                .datetime-container {
                    width: 145px;
                    display: flex;
                    justify-content: space-between;
                    background-color: #f5f5f5;
                    #svg-6 {
                        width:6px;
                    }
                    span {
                        font-family: AvenirNextLTPro-Bold;
                        color: #FFCF00;
                    }
                }
            }
       }
   }
   
   
   #img-1 {
       width: 363px;
       margin-top: 1%;
   }
   
   #subtitle {
      width: 64.4%;
      text-align: center;
      p {
       //    font-size: 1%;
        font-size: 15px;
         font-family: AvenirNextLTPro-Regular;
      }
      span {
       // font-size: 1%;
   
       font-family: AvenirNextLTPro-bold;
      }
   }
   
   #img-6 {
       position: absolute;
       width: 31.54%;
       left: -200px
   }
   
   #img-7 {
       position: absolute;
       width: 31.54%;
       top: -108px;
       z-index: 0;
       right: -300px;
   }
   
   #img-8 {
       position: absolute;
       width: 35.54%;
       bottom: -226px;
       z-index: 0;
       right: -356px;
       transform:rotate(-90deg);
       -ms-transform:rotate(-90deg); /* IE 9 */
       -webkit-transform:rotate(-90deg); 
   }
   #round-2-datetime {
    margin-bottom: 104px;
   }
   #img-ma-2020 {
       margin-top: -10px;
       width: 378px;
    //    transition: all 0.3s;
   }
   .up {
    width: 95px;
    transform: translatey(-15px);
   }
   .down {
    width: 68px;
   }
}


@media screen and (max-width:875px) {
    #ma-section {
      
        #ma-content {
           
            #rule-each-round-container {
                width: 95%;
                 #svg-3 {
                 
                 }
                 #img-2 {
                   
                 }
                 #svg-4 {
                   
                 }
                 #svg-5 {
                    
                 }
                 #svg-2 {
                  
                 }
                 #svg-1 {
                 }
                 
                 #rounds-container {
                    
                     #round-2-container {
                        
                         .round-2-child {
                          
                         }
                     }
                     .round-container{
                        
                        .round-2-child {
                            #yellow-full-round-right {
                                padding-left: 22px;
                                align-items: flex-start;
                                padding-top: 4px;
                                padding-bottom: 4px;
                                width: 94%;
                                justify-content: center;
                                height: 78px;
                                .subtitle {
                                    text-align: left
                                }
                            }
                            #yellow-full-round-left {
                                padding-right: 22px;
                                align-items:flex-end;
                                padding-top: 4px;
                                padding-bottom: 4px;
                                width: 94%;
                                justify-content: center;
                                height: 78px;

                                .subtitle {
                                    text-align: right
                                }
                            }
                        }
                     }
                     .date {
                        
                     }
                     .yellow-full-round {
                       
                         p {
                           
                         }
                         .title {
                          
                         }
                         .subtitle {
                         
                         }
                     }
                     .text-container {
                        
                     }
                    
                     .white-full-round {

                         
                         p {
                          
                         }
                         .title {
                       
                         }
                         .subtitle {
                         
                         }
                         
                     }                
                     .circle-img {
                    
                     }
                     .yellow-full-round:hover {
                      
                     }
                     .white-full-round:hover {
                     }
                     .datetime-container {
                         width: 20%;
                         #svg-6 {
                         }
                         span {
                         }
                     }
                 }
            }
        }
        
        #img-1 {
            width: 47%
        }
        #subtitle {
           p {
            //    font-size: 1%;
           }
           span {
            // font-size: 1%;
           }
        }
        
        #img-6 {
        }
        
        #img-7 {
        }
        
        #img-8 {
        }
        
        #img-ma-2020 {
        }
        .up {
        }
        .down {
        }
     }
}

@media screen and (max-width:765px) {
    #ma-section {
      
        #ma-content {
           
            #rule-each-round-container {
                width: 95%;
                 #svg-3 {
                 
                 }
                 #img-2 {
                   
                 }
                 #svg-4 {
                   
                 }
                 #svg-5 {
                    
                 }
                 #svg-2 {
                  
                 }
                 #svg-1 {
                 }
                 #rounds-container {
                    
                     #round-2-container {
                        
                         .round-2-child {
                          
                         }
                     }
                     .round-container{
                        .round-2-child {
                            #yellow-full-round-right {
                                align-items: flex-start;
                                padding-top: 4px;
                                padding-bottom: 4px;
                                padding-left: 12px;
                                width: 100%;
                                height: 120px;
                                .subtitle {
                                    text-align: flex-start
                                }
                            }
                            #yellow-full-round-left {
                                align-items: flex-end;
                                padding-top: 4px;
                                padding-bottom: 4px;
                                padding-right: 12px;
                                width: 100%;
                                height: 120px;
                                .subtitle {
                                    text-align: flex-end
                                }
                                
                            }
                            .white-full-round {
                                width: 85%;
                            }
                            #white-full-round-right {
                                padding-left: 11px;
                                height: 94px;
                                align-items: flex-start;
                                .title {
                                    text-align: flex-start
                                }
                            }
                            #white-full-round-left {
                                padding-right: 11px;
                                height: 94px;
                                align-items: flex-end;
                                .title {
                                    text-align: right
                                }
                            }
                        }
                         
                     }
                     .date {
                        
                     }
                      
                     .circle-img {
                    
                     }
                     .yellow-full-round:hover {
                      
                     }
                     .white-full-round:hover {
                     }
                     .datetime-container {
                         width: 20%;
                         #svg-6 {
                         }
                         span {
                            font-size: 13px;
                         }
                     }
                 }
            }
        }
        
        #img-1 {
            width: 47%
        }
        #subtitle {
           p {
            //    font-size: 1%;
           }
           span {
            // font-size: 1%;
           }
        }
        
        #img-6 {
        }
        
        #img-7 {
        }
        
        #img-8 {
        }
        
        #img-ma-2020 {
        }
        .up {
        }
        .down {
        }
     }
}

@media screen and (max-width:615px) {
    #ma-section {
      
        #ma-content {
           
            #rule-each-round-container {
                width: 95%;
                 #svg-3 {
                 
                 }
                 #img-2 {
                   
                 }
                 #svg-4 {
                    width: 133px;
                    top: 68px;
                 }
                 #svg-5 {
                    width: 165px;
                    top: 68px;
                 }
                 #svg-2 {
                  
                 }
                 #svg-1 {
                 }
                 #rounds-container {
                    height: 1076px;
                    .text-container {
                        font-size: 11px;
                    }
                     #round-2-container {
                        
                         .round-2-child {
                          
                         }
                     }
                     .round-container{
                        .round-2-child {
                            #yellow-full-round-right {
                                align-items: flex-start;
                                padding-top: 4px;
                                padding-bottom: 4px;
                                padding-left: 12px;
                                width: 96%;
                                height: 133px;
                                .subtitle {
                                    text-align: flex-start
                                }
                            }
                            #yellow-full-round-left {
                                align-items: flex-end;
                                padding-top: 4px;
                                padding-bottom: 4px;
                                padding-right: 12px;
                                width: 96%;
                                height: 133px;
                                .subtitle {
                                    text-align: flex-end
                                }
                                
                            }
                            .white-full-round {
                                width: 85%;
                            }
                            #white-full-round-right {
                                padding-left: 11px;
                                height: 130px;
                                align-items: flex-start;
                                .title {
                                    text-align: flex-start
                                }
                            }
                            #yellow-full-round-right:hover {
                                height: 140px;
                            }
                            #white-full-round-left {
                                padding-right: 11px;
                                height: 130px;
                                align-items: flex-end;
                                .title {
                                    text-align: right
                                }
                            }
                            #yellow-full-round-right:hover {
                                height: 140px;
                            }
                        }
                         
                     }
                     .date {
                        
                     }
                      
                     .circle-img {
                    
                     }
                     .yellow-full-round:hover {
                      
                     }
                     .white-full-round:hover {
                     }
                     .datetime-container {
                         width: 20%;
                         #svg-6 {
                            width: 4px
                         }
                         span {
                            font-size: 12px;
                         }
                     }
                 }
            }
        }
        
        #img-1 {
            width: 47%
        }
        #subtitle {
            width: 85%;
           p {
            //    font-size: 1%;
           }
           span {
            // font-size: 1%;
           }
        }
        
        #img-6 {
        }
        
        #img-7 {
        }
        
        #img-8 {
        }
        #round-2-datetime {
            margin-bottom: 8px;
        }
        #img-ma-2020 {
        }
        .up {
        }
        .down {
        }
     }
}

@media screen and (max-width:375px) {
    #ma-section {
        padding-bottom: 220px;
      
        #ma-content {
           
            #rule-each-round-container {
                width: 95%;
               
                 #svg-3 {
                 
                 }
                 #img-2 {
                   
                 }
                 #svg-4 {
                    width: 35%;
                    top: 69px
                 }
                 #svg-5 {
                    width: 43%;
                    top: 72px
                 }
                 #svg-2 {
                  
                 }
                 #svg-1 {
                 }
                 #rounds-container {
                     height: 1126px;
                    .text-container {
                        font-size: 12px;
                        padding-left: 10px;
                        padding-right: 10px;
                        margin-top: 20px;
                    }
                   
                     #round-2-container {
                        
                         .round-2-child {
                          
                         }
                     }
                     .round-container{
                        .round-2-child {
                            #yellow-full-round-right {
                                align-items: flex-start;
                                padding-top: 4px;
                                padding-bottom: 4px;
                                padding-left: 8px;
                                width: 100%;
                                height: 133px;
                                border-radius: 10px;
                                .subtitle {
                                    text-align: flex-start
                                }
                                .title {
                                    font-size: 18px;
                                }
                            }
                            #yellow-full-round-right:hover {
                                height: 140px;
                            }
                            #yellow-full-round-left {
                                align-items: flex-end;
                                padding-top: 4px;
                                padding-bottom: 4px;
                                padding-right: 8px;
                                width: 100%;
                                height: 133px;
                                border-radius: 10px;
                                .subtitle {
                                    text-align: flex-end
                                }
                                .title {
                                    font-size: 18px;
                                }
                            }
                            #yellow-full-round-left:hover {
                                height: 140px;
                            }
                            .white-full-round {
                                width: 85%;
                                border-radius: 10px;
                            }
                          
                            #white-full-round-right {
                                padding-left: 11px;
                                height: 130px;
                                align-items: flex-start;
                                border-radius: 10px;
                                .title {
                                    text-align: flex-start
                                }
                            }
                            #white-full-round-left {
                                padding-right: 11px;
                                height: 130px;
                                align-items: flex-end;
                                border-radius: 10px;
                                .title {
                                    text-align: right
                                }
                            }
                        }
                         
                     }
                    
                     .yellow-full-round {
                        border-radius: 10px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                     .white-full-round:hover {
                     }
                     #middle-text {
                        margin-top: 50px;
                     }
                    #gala-night {
                        height: 77px;
                    }
                     .datetime-container {
                         width: 26%;
                         margin-bottom: 10px;
                         #svg-6 {
                            width: 4px
                         }
                         span {
                            font-size: 12px;
                         }
                     }
                 }
            }
        }
      
        #img-1 {
            width: 47%
        }
        #subtitle {
            width: 94%;
           p {
            //    font-size: 1%;
           }
           span {
            // font-size: 1%;
           }
        }
        
        #img-6 {
        }
        
        #img-7 {
        }
        
        #img-8 {
        }
        
        #img-ma-2020 {
            width: 80%
        }
        .up {
        }
        .down {
        }
     }
}