#footer-section{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: gold;
    opacity: 0.85;
}

#footer-text-container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-spacing: 10px;
    background-color: black;
    opacity: 0.6;
    border-radius: 17px;
    width: 800px;
    height: 400px;
    
}

#footer-section p{
    color: white;
   margin-bottom: 5px;
}
#footer-section img{
    width: 400px;
    padding-top: 30px;
}

#footer-section h1{
    padding-top: 200px;
    padding-bottom: 60px;
}

#text{
    border-radius: 25px;
    width: 400px;
    border: 2px solid;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin:10px;
    padding-left: 10px;;
}