#schedule-section {
    z-index:1;
    display:flex;
    margin-top: 300px;
    width:100%;
    height: 140%;
    background: #F7D147;
   
    position: relative;
    transform:skew(0deg,-8deg);
  -ms-transform:skew(0deg,-8deg); /* IE 9 */
  -webkit-transform:skew(0deg,-8deg); 
  justify-content:center;
  align-items: center;
}

#vertical-bar {
    background-color: black;
    height: 372px;
    width: 4px;
}

#schedule-content {
    width: 80%;
    height: 100vh;
    display: flex;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    transform:skew(0deg,8deg);
    -ms-transform:skew(0deg,8deg); /* IE 9 */
    -webkit-transform:skew(0deg,8deg); 
}

.schedule-title  {
    background-color: black;
    opacity: 0.5;
    border-radius: 50px;
    color: white;
    padding: 6px 12px;
    position: absolute;
    left: 0;
    top: 0;
}

#schedule-items {
    width: 500px;
    margin: auto;
    display: flex;
    position: relative;
    position: relative;
    justify-content: center;
    align-items: center;
}
.circle {
    width:34px;
    height: 34px;
    border: 2px solid white;
    border-radius: 100%;
    padding: 5px;
    background-color: transparent;
    z-index: 11;

 }

 .circle-dot {
    width:20px;
    height: 20px;
    border-radius: 100%;
    background-color: black;
 }

 #dot-1 {
    position:absolute;
    top: -15px;

 }
 #dot-2 {
    position:absolute;
    top: 162px;
 }
 #dot-3 {
    position:absolute;
    top: 353px;

 }

 .schedule-content-container {
    display: flex;
    position: absolute;
 }

 .schedule-content-text { 
    width: 400px;
    display: flex;
    
 }

 #content-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -67px;
    background-color: black;
    opacity: 0.5;
    width: 315px;
    position: absolute;
    left: -67px;
    height:150px;
}
 #content-0 h5 {
     color: #ffffff;
 }

 #content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.5;
    width: 315px;
    position: absolute;
    bottom: 117px;
    height:150px;

}
#content-1 h5 {
    color: #ffffff;
}
#content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.5;
    width: 315px;
    position: absolute;
    left: -67px;
    bottom: -73px;
    height:150px;

}
#content-2 h5 {
    color: #ffffff;
}


