#form-section {
    z-index:1;
    display:flex;
    margin-top: 100px;
    width:100%;
    height: 140%;
    background: black;
   
    position: relative;
    transform:skew(0deg,-8deg);
  -ms-transform:skew(0deg,-8deg); /* IE 9 */
  -webkit-transform:skew(0deg,-8deg); 
  justify-content:center;
  align-items: center;
}

#form-section-content {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform:skew(0deg,8deg);
    -ms-transform:skew(0deg,8deg); /* IE 9 */
    -webkit-transform:skew(0deg,8deg); 
}

.form {
    background-color:white;
    width: 502px;
    height: 453px;
    border-radius: 10px;
}


.customized-input {
    
}