#Home {
    overflow: hidden;
    scroll-snap-type: mandatory;
    // scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    .child-section {
        scroll-snap-align: start;
    }
}

#bended-content {
    background-color: #ffffff;
    transform: skew(0deg, -8deg);
    -ms-transform:  skew(0deg, -8deg);
    -webkit-transform:  skew(0deg, -8deg);
    height: fit-content;
    .child-section {
    transform: skew(0deg, 8deg);
    -ms-transform:  skew(0deg, 8deg);
    -webkit-transform:  skew(0deg, 8deg);
    }
}