#header {
    position: fixed;
    width: 100%;
    height: 67px;
    background-color: white;
    display:flex;
    justify-content: flex-end;
    padding-right: 100px;
    height: 103px;
    z-index: 10;
    transition: all 0.5s ease;
    border-bottom: 0.5px solid  #d3d3d3;
}



#header-content {
    display: flex;
    justify-content:center;
    position: relative;
    align-items: center;
}

.header-button:hover, .header-button:focus {
    background-color: #F7D147;
    -moz-box-shadow:   -3px 2px 10px 3px #eeeeee;
    -webkit-box-shadow: -3px 2px 10px 3px #eeeeee;
    box-shadow:         -3px 2px 10px 3px #eeeeee;
    color: white;
}
.header-button:focus  { outline: none}

.header-button {
    background-color: transparent;
    color: black;
    border-radius: 50px;
    margin-left: 12px;
    width:fit-content;
    height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    border: none;
    outline: none;
    text-align: center;
    font-family: AvenirNextLTPro-bold;
    transition: all 0.3s ease;
    font-size: 14px;
    cursor: pointer;
}

#logo-img-container {
    background-color: #F7F7F7;
    width: 106px;
    height: 103px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 94px;
    border-left: 0.5px solid #d3d3d3;
}

#logo-img {
  width: 85px;
  height: 85px;
  object-fit: contain;
}




#drop-down {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;        display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 87px;
  left: 316px;
  background-color: white;
  -moz-box-shadow:   -3px 2px 10px 3px #d1d1d1;
  -webkit-box-shadow: -3px 2px 10px 3px #d1d1d1;
  box-shadow:         -3px 2px 10px 3px #d1d1d1;
  padding: 10px;
  border-radius: 10px;
  width: 158px;
  height: 112px;
  cursor: pointer;
}
#marketing-button:focus + #drop-down {
   
    visibility: visible;
    opacity: 1;
}

.drop-down-item {
    color: #2c2c2c;
    cursor: pointer;
    background-color: white;
    font-family: AvenirNextLTPro-Demi;
    font-size: 13px;
    border: none;
    outline: none;
    transition: all 0.2s;
    margin-top: 5px;
 }
 
 .drop-down-item:hover, .drop-down-item:focus {
    color: #FFCF00;
    outline: none;
    border: none;
 }


@media only screen and (max-width: 1277px) {
    #header-content {
        top:103px;
        flex-direction: column;
       position: absolute;
       width: 100%;
       height:500px;
       overflow-y: scroll;
       min-height: 320px;
       transition: all 0.5s;
       .header-button {
           width:100%;
           box-shadow:none;
           margin-bottom: 25px;
           margin-left: 96px
       }
       #drop-down {
          opacity: 0;
          top: 0px;
          left: 44px;
          visibility: hidden;
          transition: all 0.5s;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          background-color: transparent;
          box-shadow:none;
          width: 100%;
          transition: all 0.5s;
          margin-top: -32px;
          height: 0px;
            .drop-down-item {
                background-color:transparent;
                font-size: 15px;
                
            }
            .drop-down-item:hover {
                background-color:transparent;
                color: #ffffff;
            }
       }
       #marketing-button:focus + #drop-down {
           height: 400px;
           visibility: visible;
           opacity: 1;

       }
    
       .header-button:hover, .header-button:focus {
        background-color: transparent;
        box-shadow:  none;
        color: white;
        outline: none;
       }
       
    }
    #overlay {
        top: 103px;
        width: 100%;
        height: 1050px;
        background-color: #F7D147;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
       
    }
    .hide {
        visibility: hidden;
        opacity: 0;
    }
    .show {
        visibility: visible;
        opacity: 0.9;
    }
}

@media only screen and (max-width: 600px) {


}
