#award-section {
    padding-top: 98px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 351px;
    #awards-content {
        width: 74.7%;
        display: flex;
        justify-content: space-between;
        .award-img {
            width: 100%;
        }
    }
    #img-1 {
        width: 34.4%;
        margin-bottom: 35px;
    }
    .img-container {
        display: flex;
        width: 243px;
        height: 295.7px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-family: utm-bebas;
            font-size: 41px;
            margin: 0
        }
    }
}

