#form {
    background-color: #FFCF00;
    width:460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    -moz-box-shadow:   0px 0px 20px 3px #e4e4e4;
    -webkit-box-shadow: 0px 0px 20px 3px #e4e4e4;
    box-shadow:         0px 0px 20px 3px #e4e4e4;
    #title {
        color: #ffffff;
        font-family:Montserrat-ExtraBold;
        font-size:22px;
        margin-bottom:30px;
        margin-top:37px;
    }
}