.form {
    background-color: #FFCF00;
    width: 460px;
    height: 182px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 24px;
    -moz-box-shadow:   0px 0px 20px 3px #e4e4e4;
    -webkit-box-shadow: 0px 0px 20px 3px #e4e4e4;
    box-shadow:         0px 0px 20px 3px #e4e4e4;
    transition: all 0.5s;
    position: relative;
    #title {
        color: #ffffff;
        font-family:Montserrat-ExtraBold;
        font-size:22px;
        margin-bottom:30px;
        margin-top:37px;
        cursor: pointer;
        transition: all 0.5s;
        border-radius: 10px;
    }
    #title:hover {
        -moz-box-shadow:   0px 0px 20px 3px #e4e4e4;
        -webkit-box-shadow: 0px 0px 20px 3px #e4e4e4;
        box-shadow:         0px 0px 20px 3px #e4e4e4;
    }
    .input-container {
        display: flex;
        flex-direction: column;
        max-height: 325px;
        overflow-y: scroll;
    }
}

.active  {
    height: 578px;
}

.inactive {
    height: 269px;
}


@media only screen and (max-width: 1384px) {

    .form {
       margin-bottom: 30px;
       margin-top: 30px;
    }
}
